body {
  background-color: #2D2D2D;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #028090 !important;
  position: fixed !important;
  top: 0px;
  width: 100%;
  margin-bottom: 3em;
}

.navbar-brand {
  color: #F0F3BD !important;
}

.searchBar {
  background-color: #028090;
  margin-top: 6em;
  padding: 1em;
  width: 80%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#search{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.searchButton {
  background-color: #F0F3BD !important;
  color: black;
  border: none;
}

.searchButton:hover {
  scale: 1.1 !important;
  background-color: #C64191 !important;
}

.songList {
  margin-top: 3em;
  margin-bottom: 1em;
  padding-bottom: .15em;
  background-color: #1f1f1f;
}

.songCells {
  background-color: #1f1f1f !important;
  border: none;
  color: #F0F3BD;
}

.buttonBar {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.addRemoveBar {
  margin-top: 1em;
}

.addButton {
  background-color: #F0F3BD;
  color: black;
  border: none;
  display: inline;
  margin-left: 1em;
  margin-right: .5em;
  width: 6em;
}

.addButton:hover {
  scale: 1.1;
  background-color: #C64191;
}

.removeButton {
  background-color: #F0F3BD;
  color: black;
  border: none;
  width: 6em;
}

.removeButton:hover {
  scale: 1.1;
  background-color: #C64191;
}

.btn-close {
  background-color: #C64191;
}

.modal-header {
  background-color: #2D2D2D;
  color: #F0F3BD;
}

.modal-body {
  background-color: #2D2D2D;
  color: #F0F3BD;
}

.form-control {
  background-color: #cacaca;
}

.submitBtn {
  margin-top: 1em;
  background-color: #C64191;
  border: none;
}

.submitBtn:hover {
  scale: 1.1;
  background-color:#028090;
}